.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: .5rem;
    margin-top: 50px;
}

.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    font-size: 2.5rem;
    aspect-ratio: 1 / 1;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(106, 13, 160);
}

.btn.active {
    background-color: rgb(224, 21, 180) ;
    color: white;
}

.btn.inactive {
    opacity: .3;
    color: red;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color:rgb(224, 21, 180);
}